.list-footer{
    list-style: none;
}

footer{
    div{
        div{
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}