header{
    div{
        width: 20%;
        img{
            width: 50%;
            margin: 1rem;
            border-radius: 5px;

        }
        ul{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    h1{
        a{
            text-decoration: none;
            color: white;
        }
    }

}

.img-btn{
    color: white;
}

